[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
spacy = "*"
line-profiler = "*"
nltk = "*"
g2p-en = "*"
pyclts = "*"
pyphonetics = "*"
ujson = "*"
adjusttext = "*"

[dev-packages]

[requires]
python_version = "3.6"
